body {
	font-family:'arial';
	font-size:16px;
	text-align:center;
	margin:0;
    background-image: url('../images/background10.jpg');
	background-size:100%;

}

header {
	 color: #ffffff;
	 padding-top:40px;
	 padding-bottom:40px;
	 font-family: 'Open Sans Condensed', sans-serif;
	 font-size: 20px;


	
}
h2 {
	color: #ffffff;
	padding-top:14px;
	padding-bottom:14px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;

	

}

h4 {
	color: #ffffff;
	padding-top:40px;
	padding-bottom:40px;
	opacity: 0.9;
  border-radius:20px;
    background-color:black;

}

nav {
	background-color: #333; 
	height: 50px;
	
}

nav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
}

ul li a {
	text-decoration: none;
	color:white;
    line-height: 50px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

li a:hover {
	background-color: #3b444b;
}

section {
  padding:50px;
  background-repeat: no-repeat;
  background-size:100%;
  width:60%;
  margin:0 auto;
  background-color:black;
  opacity: 0.8;
  border-radius:20px;
   box-shadow: 10px 10px 5px rgba(255, 255, 255, .5);
   margin-top:50px;
  }

section p {
	padding:6px;
	margin: 50px;
	color: black;
	position:relative;
	left: 10px;

	
	}
	
	
	@media screen (max-width: 600px){
		nav a:not(:first-child) {
		display: none;}
		nav a.icon {
		float: right;
		display: block;
	}
	}
	@media screen and(max-width: 600px){
		nav.responsive{position: relative;} 
		nav.responsiv.icon{
			position:absolute;
			right: 0;
			top: 0; 
		}
	}

	
footer{
	padding: 20px;
	margin-top: 200px;
	color:#ffffff;
	background-color: black;
	text-align: center;
}

a:link {
    color: white;
	border-radius:20px;
	
	}

	main .download{
	border:solid;
	padding:20px;
	margin:20px;
	transition:0.8s;
	}
a:hover, a:active {
    background-color:#3b444b ;

}	


p{
padding: 40px;
color: #ffffff;
opacity: 0.8;
border-radius:50px;
box-shadow: 10px 10px 5px rgba(255, 255, 255, .5);
margin:15% 12px 10px 32%;
background-color:black;
	 


}

img {

	height: 500px;
	width: 310px;
	padding:50px;
	margin: 10px 50px 10px 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
	margin-left: 18%;
	margin-right: 20%;
	text-align: center;
	
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	background-color: black;
	color: #ffffff;
	opacity: 0.8;
  border-radius:20px;
  
}

tr:nth-child(even) {
    background-color: #dddddd;
}

main .dmu{
height: 100px;
padding: 10px;
margin:10px;

}
