body {
	font-family:'arial';
	font-size:16px;
	text-align:center;
	margin:0;
    background-image: url('../Images/background10.jpg');
	min-height:100%;
	background-size:100%;
	background-image:no-repeat;

}

header {
	 color: #ffffff;
	 padding-top:40px;
	 padding-bottom:40px;
	 font-family: 'Open Sans Condensed', sans-serif;
	 font-size: 20px;
	 


	
}
h2 {
	color: #ffffff;
	padding-top:14px;
	padding-bottom:14px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	opacity: 0.9;
    border-radius:20px;
    background-color:black;
	
}

h4 {
	color: #ffffff;
	padding-top:40px;
	padding-bottom:40px;
	opacity: 0.9;
  border-radius:20px;
    background-color:black;

}

nav {
	background-color: #333; 
	height: 50px;
	
}

nav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
}

ul li a {
	text-decoration: none;
	color:white;
    line-height: 50px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

li a:hover {
	background-color: #3b444b;
}

section {
  padding:50px;
  background-size:100%;
  width:95%;
  margin:0 auto;
  background-color:black;
  opacity: 0.8;
  border-radius:20px;
   box-shadow: 10px 10px 5px rgba(255, 255, 255, .5);
   margin-top:50px;
  }

section p {
	padding:6px;
	margin: 50px;
	color: black;
	position:relative;
	left: 10px;

	
	}
	
	
	@media screen (max-width: 600px){
		nav a:not(:first-child) {
		display: none;}
		nav a.icon {
		float: right;
		display: block;
	}
	}
	@media screen and(max-width: 600px){
		nav.responsive{position: relative;} 
		nav.responsiv.icon{
			position:absolute;
			right: 0;
			top: 0; 
		}
	}

	
footer{
	padding: 20px;
	margin-top: 20%;
	color:#ffffff;
	background-color: black;
	text-align: center;
}

a:link {
    color: white;
	border-radius:20px;
	
	
	
	}

	main .download{
	border:solid;
	padding:15px;
	margin: 15px;
	margin-bottom:15px;
	transition:0.8s;
	float:center;
	}
a:hover, a:active {
    background-color:#3b444b ;

}	


p{
padding: 40px;
color: #ffffff;
opacity: 0.8;
border-radius:50px;
box-shadow: 10px 10px 5px rgba(255, 255, 255, .5);
margin:15% 12px 10px 32%;
background-color:black;
	 


}

img {

	height: 500px;
	width: 310px;
	padding:50px;
	margin: 10px 50px 10px 50px;
	
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	text-align: center;
	
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	background-color: black;
	color: #ffffff;
border-radius:50px;
    border-radius:20px;
  
}



main .image{
height:100px;
padding:20px;
margin:10px;

}

.html {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: 20px 200px 100px 200px;
  
}

.css {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -300px 200px 200px 450px;

}

.js {
 width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -395px 200px 200px 700px;
  
}
.j {
 width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -395px 200px 200px 950px;
  
}

.db {

width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -100px 200px 100px 200px;
 }

 .php {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -300px 200px 200px 450px;

}

.hk {
 width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -395px 200px 200px 700px;
  
}

.c {
 width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 35px;
  color: #ffff;
  line-height: 10px;
  text-align: center;
  background: #000;
  padding:50px;
  margin: -395px 200px 200px 950px;

  
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
 
}

input[type=submit] {
    background-color: #3b444b  ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: center;
}

input[type=submit]:hover {
    background-color:#191919 ;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	float: center;
	margin: 20px 200px 100px 200px;
	opacity: 0.9s;
    border-radius:20px;
    background-color:#ffffff;


}

#clock{
	width: 1350px;
	text-align: center;
	font-size: 50px;
	
  	
}

#map {
  height: 400px;
  width: 50%;
  margin: 95px 200px 200px 350px;
}

